body {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
}

.adoteaqui {
  background-color: yellow;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding-left: 10px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.adoteaqui:hover h1 {
  font-size: 27px;
}

.menu {
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.menu:hover {
  color: rgb(168, 168, 117);

}

a {
  padding: 5px;
}

@media (max-width: 700px) {
  .adoteaqui {
    display: none;
  }

  .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}