nav {
  display: flex;
  align-items: center;
}

#abertura {
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 15px;

}

.adoteaqui {
  background-color: rgb(226, 175, 255);
  width: 50%;
  height: 60px;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.menu {
  background-color: rgb(226, 175, 255);
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 60px;
}

a {
  padding: 5px;
}

@media (max-width: 700px) {
  .adoteaqui {
    display: none;
  }

  .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.adoteaqui:hover {
  font-size: 20px;
  align-items: center;
}

.elem1:hover {
  color: rgb(157, 78, 221);
  font-size: 15px;
}

.elem2:hover {
  color: rgb(157, 78, 221);
  font-size: 15px;
}

.elem3:hover {
  color: rgb(157, 78, 221);
  font-size: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(226, 175, 255);
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}